<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Company Product Name
            <h5 class="hint">Use your Company ID to sign in or create one now</h5>
        </label>
        <div class="login-group">
            <input class="username"
                     type="text"
                     id="login_username"
                     name ="userName"
                     [(ngModel)]="formData.userName"
                     placeholder="userName">
            <input class="password"
                     type="password"
                     id="login_password"
                     name="password"
                     [(ngModel)]="formData.password"
                     placeholder="password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div class="error active" *ngIf="errorMsg != ''">
                {{errorMsg}}
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">NEXT</button>
            <a href="http://www.baidu.com" class="signup">Sign up for a Company ID</a>
        </div>
    </form>
</div>