
<div style="background:url(./assets/images/home_p4.png) no-repeat;
    width:100%;
    height:100vh;
    background-size:cover;">
    
    <div id="login_frame">  
        <div style="height: 104px;width: 100%;">
            <div  id="image_logo" style="background:url(./assets/images/logo4.png) no-repeat;
                    width:91px;
                    height:91px;
                    background-size:cover;">
            </div>
            <span class="font_sty">Snails Travel</span>
        </div>
        <!--<img id="image_logo" style="background:url(./assets/images/logo4.png);">-->
        <!--<span class="font_left">Travel</span>-->
        <div class="error-position">
            {{errorMsg}}
        </div>
        <form>  
            <p>
                <label class="label_input">用户名</label><input type="text" id="username" 
                            style="background-color: whitesmoke"
                            name ="userName"
                            [(ngModel)]="formData.userName"
                            class="text_field"/>
            </p>  
            <p>
                <label class="label_input">密码</label><input type="password" id="password" 
                            style="background-color: whitesmoke" 
                            name="password"
                            [(ngModel)]="formData.password"
                            class="text_field"/>
            </p>  
            <div id="login_control">  
                <input type="button" class="btn_home" id="btn_login" value="登录" (click)="login()"/>  
                <input type="button" class="btn_home" id="btn_register" value="注册" (click)="register()"/>
            </div> 
            <div class="forget_pwd"><a class="a_link" href="forget_pwd.html">忘记密码？</a></div>
        </form>  
    </div>  
</div>
