<!-- Top left floating icon used to toggle the dev UI components in all views -->
<div *ngIf="!gs.isPluginMode()" style="float: left; position: absolute; z-index: 3;">
   <a (click)="gs.toggleDevUI()" class="tooltip tooltip-sm tooltip-bottom-right"
      role="tooltip" aria-haspopup="true" href="javascript://">
      <clr-icon [attr.shape]="gs.showDevUI() ? 'remove' : 'plus-circle'" size="16"
                [attr.class]="gs.showDevUI() ? 'is-inverse' : ''"></clr-icon>
      <span class="tooltip-content">{{gs.showDevUI() ? "Remove dev UI" : "Show dev UI"}}</span>
   </a>

</div>

<!-- router will pick the view component to show here -->
<router-outlet></router-outlet>
