.toggle {
  align-items: center;
  padding-left: 20px;
  font-size: 12px;
}

.view-info {
  padding-left: 20px;
  background-color: lightblue;
}

.xml-text {
  line-height: 16px;
  font-size: 75%;
  border: 1px solid white;
  margin-top: 0px;
}

.btn-link {
  line-height: 12px;
  font-size: 10px;
  height: 12px;
}

.us-flag {
  background-image: url(../../../assets/images/us.png);
  background-position: 0px 0px;
  width: 16px;
  height: 11px;
  display: inline-block;
  margin-top: 25px;
  margin-right: 10px;
}

.fr-flag {
  background-image: url(../../../assets/images/fr.png);
  background-position: 0px 0px;
  width: 16px;
  height: 11px;
  display: inline-block;
  margin-top: 25px;
  margin-right: 20px;
}

.logo-flag {
  background-image: url(../../../assets/images/logo6.png);
  background-position: 0px 0px;
  width: 43px;
  height: 43px;
  display: inline-block;
  background-size: cover;
  margin-right: 10px;
}

.font_sty {
    font-size: 23px;
    font-weight: 400;
    font-family: 宋体;
    letter-spacing: .02em;
    color: rgba(164, 203, 242, 0.91);
    line-height: 60px;
    text-decoration: none;
}